<div class="heading">Choose a resume style...</div>
<div class="content">
    <div class="ht">
        <a href="res-tech.html">
            <div class="launcher">Sexy</div>
        </a>
    </div>
    <div class="card">
        <a href="res-paper.html">
            <div class="navbtn">Cute</div>
        </a>
    </div>
</div>
<div class="address">© aarstar productions since 1998</div>