<img src="partials/images/border.png" class="border" />
<div class="cover">
    <div class="name" id="namec"><span id="name">Rishav Saini</span></div>
    <div class="email" id="emailc"><span id="email"><i class="fa fa-at"></i> rishav9880@yahoo.com</span></div>
    <div class="phone" id="phonec"><span id="phone"><i class="fa fa-phone"></i> 9882033133</span></div>
    <div class="github" id="githubc"><span id="git"><i class="fa fa-github"></i> @aarstar65</span></div>
    <div class="profile-holder"><img src="partials/images/dp.png" class="dp"></div>
    <div class="profile" id="rotor"></div>
    <a class="navbt" onclick="openSN()">
        <div class="launcher" id="navbt">Nav</div>
    </a>
</div>
<div class="ccontainer">
    <div id="mySN" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSN()">&times;</a>
        <center>
            <div class="sidenavSN">
                <div class=" id=" sidenav">
                    <a href="#education">
                        <div class="launchersn">Eduation</div>
                    </a>
                    <a href="#tecq">
                        <div class="launchersn">Technical Qualification</div>
                    </a>
                    <a href="#skills">
                        <div class="launchersn">Skills</div>
                    </a>
                    <a href="#projects">
                        <div class="launchersn">Projects</div>
                    </a>
                    <a href="#emp">
                        <div class="launchersn">Aptitude Assessment</div>
                    </a>
                </div>
            </div>
        </center>
    </div>
    <div class="navr">
        <a href="#education">
            <div class="launcher" id="edu">Eduation</div>
        </a>
        <a href="#tecq">
            <div class="launcher" id="tq">Technical Qualification</div>
        </a>
        <a href="#skills">
            <div class="launcher" id="skill">Skills</div>
        </a>
        <a href="#projects">
            <div class="launcher" id="project">Projects</div>
        </a>
        <a href="#emp">
            <div class="launcher" id="psa">Aptitude Assessment</div>
        </a>
    </div>
    <div class="content" onscroll="rotor()">
        <div class="dat" id="aoi">
            <span class="heading" id="headaoi">Area of Interest</span>
            <hr>
            <p class="conte" id="aoic">
                Seeking work to give an outlet to the already learnt technologies and acquired development
                skills, learning new technologies as needed by the problems encountered while working on
                any job, have worked with IoT using arduino and tend to learn more tehnologies, willing to
                work with user interfae development.
            </p>
        </div>
        <div class="dat" id="education">
            <span class="heading" id="headedu">Eduational Qualifications</span>
            <hr>
            <table class="conte" id="educ">
                <tr>
                    <th>Course</th>
                    <th>Institution</th>
                    <th>Board</th>
                    <th>Percentage of marks scored</th>
                    <th>Year of passing</th>
                </tr>
                <tr>
                    <td>12<sup>th</sup></td>
                    <td>DAV Centenary Public School</td>
                    <td>C.B.S.E.</td>
                    <td>68.2%</td>
                    <td>2016</td>
                </tr>
                <tr>
                    <td>10<sup>th</sup></td>
                    <td>DAV Centenary Public School</td>
                    <td>C.B.S.E.</td>
                    <td>76%</td>
                    <td>2014</td>
                </tr>
            </table>
        </div>
        <div class="dat" id="tecq">
            <span class="heading" id="headtq">Technical Qualification</span>
            <hr>
            <p class="conte" id="tqc">
                <span class="subh">Bachelor of Engineering</span> in <span class="subh">Computer Science and Engineering</span> from <span class="subh">Chitkara University</span>.
                <br>
                <span class="subh">Completed:</span> June 2020
            </p>
        </div>
        <div class="dat" id="skills">
            <span class="heading" id="headskill">Skills</span>
            <hr>
            <p class="conte" id="skillc">
                <span class="subh">Programming Languages Used:</span> <kbd>C</kbd> <kbd>C++</kbd>
                <kbd>Java(Beginner)</kbd> <kbd>Javascript</kbd> <kbd>Python</kbd>.
                <br>
                <span class="subh">Database Management:</span> <kbd>MySQL</kbd> <kbd>PostgreSQL</kbd> <kbd>MongoDB</kbd> <kbd>CouchDB (Beginner)</kbd>.
                <br>
                <span class="subh">Web Development:</span> <kbd>HTML <i class="fa fa-html5"></i></kbd> <kbd>CSS
                    <i class="fa fa-css3"></i></kbd> <kbd>JavaScript</kbd> <kbd>Node JS</kbd> <kbd>Express JS(Node JS Framework)</kbd> <kbd>Bootstrap 3(HTML, CSS, JS Framework)</kbd> <kbd>React JS</kbd>
                <kbd>EJS</kbd> <kbd>Typescript</kbd> <kbd>GraphQL</kbd> <kbd>LoopbackJS</kbd> <kbd>Prisma</kbd> <kbd>Google's Firebase Cloud Messaging</kbd> <kbd>Google's Youtube Data API v3</kbd> <kbd>Google Maps API</kbd>
                <br>
                <span class="subh">Mobile Development:</span> <kbd>React Native</kbd> <kbd>Google's Firebase Cloud Messaging</kbd> <kbd>Google Maps API</kbd>
                <br>
                <span class="subh">Design Libraries:</span> <kbd>Bootstrap 3</kbd> <kbd>Material UI</kbd> <kbd>Ant Design</kbd> <kbd>Chakra UI</kbd> <kbd>Tailwind CSS</kbd> <kbd>Native Base</kbd> <kbd>Paper UI</kbd>
                <br>
                <span class="subh">Prefered Working Environment:</span> <kbd>Linux(UBUNTU) <i class="fa fa-linux"></i></kbd>
                <kbd>Windows <i class="fa fa-windows"></i></kbd> <kbd>MacOS <i class="fa fa-apple"></i></kbd>.
                <br>
                <span class="subh">Electronics:</span> <kbd>IoT with Arduino(Beginner)</kbd> <kbd>Radio
                    Technologies-
                    <kbd>FM</kbd>, <kbd>AM</kbd></kbd>
            </p>
        </div>
        <div class="dat" id="projects">
            <span class="heading" id="headpro">Projects</span>
            <hr>
            <p class="conte" id="proc">
                <dl class="conte">
                    <dt><span class="subh">Youtube Client</span> (2019, Personal Practice Project)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>React JS</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>Youtube Data API v3</kbd>.
                        <br>
                        <a href="https://gitlab.com/AARSTAR65/yt-clone"><span class="subh">Gitlab:</span>
                        https://gitlab.com/AARSTAR65/yt-clone</a>
                        <a href="https://eloquent-ptolemy-40ecca.netlify.app/home"><span class="subh">Deployed:</span>
                        https://eloquent-ptolemy-40ecca.netlify.app/home</a>
                        <br>
                        <span class="subh">Description</span>: A Simple ReactJS and Youtube Data API v3 based Youtube client (Desktop only) where users can login, see their liked videos and search videos.
                    </dd>
                    <dt><span class="subh">Resume Builder</span> (2019, College Project)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>Node JS</kbd> <kbd>Express JS</kbd> <kbd>EJS</kbd> <kbd>MongoDB</kbd>
                        <kbd>HTML</kbd> <kbd>CSS</kbd>.
                        <br>
                        <span class="subh">Github:</span>
                        <a>https://github.com/AARSTAR65/resume_builder</a>
                        <br>
                        <span class="subh">Description</span>: A simple web app that can accept user's data and craft it into a pre-defined resume template. Also, users can save their resumes there by logging in.
                    </dd>
                    <dt><span class="subh">React Based Trello Clone</span> (2020, Training Project)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>React JS</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>Trello API</kbd>.
                        <br>
                        <a href="https://gitlab.com/aarstar_65/react-based-trello"><span class="subh">Gitlab:</span>
                        https://gitlab.com/aarstar_65/react-based-trello</a>
                        <br>
                        <span class="subh">Description</span>: A ReactJS based clone of the workflow management platform Trello. Built using Trello’s data API.
                    </dd>
                    <dt><span class="subh">Online Resume</span> (2019, Personal Practice Project)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>Node JS</kbd> <kbd>Express JS</kbd> <kbd>EJS</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd>.
                        <br>
                        <a href="https://github.com/AARSTAR65/resume-65"><span class="subh">Github:</span>
                        https://github.com/AARSTAR65/resume-65</a>
                        <a href="https://resume-65.onrender.com/"><span class="subh">Deployed:</span>
                        https://resume-65.onrender.com/</a>
                        <br>
                        <span class="subh">Description</span>: A Simple NodeJS, ExpressJS and EJS based static app listing all my skills and technical experience (Last updated: 2019). Another ReactJS based, re-configurable version with an admin panel where the details can be added or edited, is under progress, <a href="https://github.com/AARSTAR65/resume-65-configurable">here</a>.
                    </dd>
                    <dt><span class="subh">Online Resume - Configurable</span> (2023, Personal Practice Project)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>React JS</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>SVG</kbd>.
                        <br>
                        <a href="https://github.com/AARSTAR65/resume-65-configurable"><span class="subh">Github:</span>
                        https://github.com/AARSTAR65/resume-65-configurable</a>
                        <a href="https://splendorous-dolphin-054819.netlify.app/"><span class="subh">Deployed:</span>
                        https://splendorous-dolphin-054819.netlify.app/</a>
                        <br>
                        <span class="subh">Description</span>: A ReactJS based remake of the above-mentioned online resume that will be equipped with a database and an admin panel from where the profile details can be edited/updated.
                    </dd>
                    <dt><span class="subh">IOT and GPS based tracking system</span> (2018, Presented at
                        NOVATE, Hosted by
                        Chitkara University)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>Arduino UNO R3</kbd> <kbd>GPS UBLOX
                            NEO 6M</kbd> <kbd>GSM
                            SIM 800L.</kbd>
                        <br>
                        <span class="subh">Description:</span> The project was a simple tracking device that can broadcast its location to the pre-configured phone numbers via GSM, also can be configured to cast live location via Google Maps or building a dedicated maps app equipped with a server and web-sockets.
                    </dd>
                    <dt><span class="subh">IOT based low cost Hydroponic Farming Utility</span>
                        (Presented at 3RD
                        Himachal Science Congress Hosted by HIMCOSTE)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>Arduino</kbd> and other electronic utility modules and sensors
                        <br>
                        <span class="subh">Description:</span> The system proposed with a prototype is a simple IOT based contained farm monitoring utility, also capable of regulating local environmental conditions like temperature, ground water level and required light inside the farm container.
                    </dd>
                    <dt><span class="subh">TETRIS GAME</span> (CLASS ASSIGNMENT)</dt>
                    <dd>
                        <span class="subh">Technologies Used:</span> <kbd>Programming Language C</kbd>
                        <br>
                        <span class="subh">Description:</span> A command line interface based classic Tetris game.
                    </dd>
                </dl>
            </p>
        </div>
        <div class="dat" id="emp">
            <span class="heading" id="heademp">Aptitude and Employment Assessment</span>
            <hr>
            <table class="conte" id="psac">
                <tr>
                    <th style="width: 400px;">Exam</th>
                    <th style="width: 400px;">Percentile</th>
                </tr>
                <tr>
                    <td>AMCAT</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>eLitmus</td>
                    <td>89.88</td>
                </tr>
                <tr>
                    <td>eLitmus</td>
                    <td>77.39</td>
                </tr>
            </table>
        </div>
    </div>
</div>