<img src="partials/images/border.png" class="border">
        <div class="cover">
            <div class="name" id="namec"><span id="name">Rishav Saini</span></div>
            <div class="email" id="emailc"><span id="email"><i class="fa fa-at"></i> rishav9880@yahoo.com</span></div>
            <div class="phone" id="phonec"><span id="phone"><i class="fa fa-phone"></i> 9882033133</span></div>
            <div class="github" id="githubc"><span id="git"><i class="fa fa-github"></i> @aarstar65</span></div>
            <div class="profile-holder"><img src="partials/images/dp.png" class="dp"></div>
            <div class="profile" id="rotor"></div>
        </div>
        <div class="navr">
            <a href="#education">
                <div class="launcher" id="edu">Eduation</div>
            </a>
            <a href="#tecq">
                <div class="launcher" id="tq">Technical Qualification</div>
            </a>
            <a href="#skills">
                <div class="launcher" id="skill">Skills</div>
            </a>
            <a href="#projects">
                <div class="launcher" id="project">Projects</div>
            </a>
            <a href="#emp">
                <div class="launcher" id="psa">Aptitude Assessment</div>
            </a>
        </div>
        <div class="content">
            <div class="dat" id="aoi">
                <span class="heading" id="headaoi">Area of Interest</span>
                <hr>
                <p class="conte" id="aoic">
                    Seeking work to give an outlet to the already learnt technologies and acquired development
                    skills, learning new technologies as needed by the problems encountered while working on
                    any job, have worked with IoT using arduino and tend to learn more tehnologies, willing to
                    work with user interfae development.
                </p>
            </div>
            <div class="dat" id="education">
                <span class="heading" id="headedu">Eduational Qualifications</span>
                <hr>
                <table class="conte" id="educ">
                    <tr>
                        <th>Course</th>
                        <th>Institution</th>
                        <th>Board</th>
                        <th>Percentage of marks scored</th>
                        <th>Year of passing</th>
                    </tr>
                    <tr>
                        <td>12<sup>th</sup></td>
                        <td>DAV Centenary Public School</td>
                        <td>C.B.S.E.</td>
                        <td>68.2%</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>10<sup>th</sup></td>
                        <td>DAV Centenary Public School</td>
                        <td>C.B.S.E.</td>
                        <td>76%</td>
                        <td>2014</td>
                    </tr>
                </table>
            </div>
            <div class="dat" id="tecq">
                <span class="heading" id="headtq">Technical Qualification</span>
                <hr>
                <p class="conte" id="tqc">
                    PURSUING <span class="subh">BACHELOR OF ENGINEERING</span> IN <span class="subh">COMPUTER SCIENCE
                        AND ENGINEERING</span> FROM <span class="subh">CHITKARA UNIVERSITY</span>.
                    <br>
                    <span class="subh">CLOMPLETETION:</span> JUNE 2020
                    <br>
                    <span class="subh">CURRENT STATUS:</span>
                    <br>
                    <ul class="conte">
                        <li><span class="subh">ACADEMIC YEAR</span>: 3RD</li>
                        <li><span class="subh">CGPA:</span> 7.78</li>
                    </ul>

                </p>
            </div>
            <div class="dat" id="skills">
                <span class="heading" id="headskill">Skills</span>
                <hr>
                <p class="conte" id="skillc">
                    <span class="subh">PROGRAMMING LANGUAGES USED:</span> <kbd>C</kbd> <kbd>C++</kbd> <kbd>Java(Beginner)</kbd>.
                    <br>
                    <span class="subh">DATABASE MANAGEMENT:</span> <kbd>SQL</kbd> <kbd>MongoDB</kbd>.
                    <br>
                    <span class="subh">WEB DEVELOPMENT:</span> <kbd>HTML <i class="fa fa-html5"></i></kbd> <kbd>CSS <i class="fa fa-css3"></i></kbd> <kbd>JavaScript</kbd> <kbd>Node JS</kbd> <kbd>Express JS(Node JS
                    Framework)</kbd> <kbd>Bootstrap 3(HTML, CSS, JS Framework)</kbd> <kbd>React JS</kbd> <kbd>Embedded JS</kbd>.
                    <br>
                    <span class="subh">PREFERED WORKING ENVIRONMENT:</span> <kbd>Linux(UBUNTU) <i class="fa fa-linux"></i></kbd> <kbd>Windows <i class="fa fa-windows"></i></kbd>.
                    <br>
                    <span class="subh">ELECTRONICS:</span> <kbd>IoT with Arduino(Beginner)</kbd> <kbd>Radio Technologies-
                    <kbd>FM</kbd>, <kbd>AM</kbd></kbd>
                </p>
            </div>
            <div class="dat" id="projects">
                <span class="heading" id="headpro">Projects</span>
                <hr>
                <p class="conte" id="proc">
                    <dl class="conte">
                        <dt><span class="subh">RESUME BUILDER</span> (CURRENTLY UNDER DEVELOPMENT)</dt>
                        <dd>
                            <span class="subh">TECHNOLOGIES USED:</span> <kbd>Node JS</kbd> <kbd>MongoDB</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd>.
                            <br>
                            <span class="subh">GITHUB REPOSITORY:</span>
                            https://github.com/AARSTAR65/resume_builder
                            <br>
                            <span class="subh">DESCRIPTION</span>: A WEB APP THAT ENABLES USERS TO EASILY
                            CREATE RESUME
                            BY ENTERING THEIR PERSONAL
                            INFORMATION IN JUST ONE CLICK.
                        </dd>
                        <dt><span class="subh">IOT AND GPS BASED TRACKING SYSTEM</span> (PRESENTED AT
                            NOVATE, HOSTED BY
                            CHITKARA UNIVERSITY)</dt>
                        <dd>
                            <span class="subh">TECHNOLOGIES USED:</span> <kbd>Arduino UNO R3</kbd> <kbd>GPS UBLOX NEO 6M</kbd> <kbd>GSM
                            SIM 800L.</kbd>
                            <br>
                            <span class="subh">DESCRIPTION:</span> THE PROJECT WAS A SIMPLE TRACKING DEVICE
                            THAT ENABLED
                            THE USER TO CALL FOR HELP
                            IN
                            CASE OF ANY EMERGENCY, ALONG WITH THIS, AN IDEA OF IOT BASED SOCIETY MONITORING
                            SYSTEM WAS
                            PROPOSED WHERE POLICE CAN USE FLYING CAMERA DRONES TO MONITOR AND COVER ANY
                            ANTISOCIAL
                            ACTIVITIES TAKING PLACE IN THE AREA.
                        </dd>
                        <dt><span class="subh">IOT BASED LOW COST HYDROPONIC FARMING UTILITY</span>
                            (PRESENTED AT 3RD
                            HIMACHAL SCIENCE CONGRESS HOSTED BY HIMCOSTE)</dt>
                        <dd>
                            <span class="subh">TECHNOLOGIES USED:</span> <kbd>Arduino</kbd> AND OTHER ELECTRONIC
                            UTILITY MODULES
                            <br>
                            <span class="subh">DESCRIPTION:</span> THE SYSTEM PROPOSED WITH A PROTOTYPE IS A
                            SIMPLE IOT
                            BASED FARM MONITORING
                            UTILITY .
                        </dd>
                        <dt><span class="subh">TETRIS GAME</span> (CLASS ASSIGNMENT)</dt>
                        <dd>
                            <span class="subh">TECHNOLOGIES USED:</span> <kbd>Programming Language C</kbd>
                            <br>
                            <span class="subh">DESCRIPTION:</span> A COMMAND LINE INTERFACE BASED TYPICAL
                            TETRIS GAME.
                        </dd>
                    </dl>
                </p>
            </div>
            <div class="dat" id="emp">
                <span class="heading" id="heademp">Aptitude and Employment Assessment</span>
                <hr>
                <table class="conte" id="psac">
                    <tr>
                        <th style="width: 400px;">Exam</th>
                        <th style="width: 400px;">Percentile</th>
                    </tr>
                    <tr>
                        <td>AMCAT</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>eLitmus</td>
                        <td>89.88</td>
                    </tr>
                    <tr>
                        <td>eLitmus</td>
                        <td>77.39</td>
                    </tr>
                </table>
            </div>
        </div>