<div class="header">
    <p class="name">Rishav Saini</p>
    <p class="cont"><b><i class="fa fa-phone"></i> Phone:</b> 9882033133</p>
    <p class="cont"><i class="fa fa-at"></i> rishav9880@yahoo.com</p>
    <p class="cont"><b><i class="fa fa-github"></i> Github:</b> aarstar65</p>
    <img src="partials/images/dp.png" class="dp">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="container2 collapse navbar-collapse"  id="myNavbar">
                <a href="#education">
                    <div class="navbtn" id="edu">Education</div>
                </a>
                <a href="#tecq">
                    <div class="navbtn" id="tq">Technical Qualification</div>
                </a>
                <a href="#skills">
                    <div class="navbtn" id="skill">Skills</div>
                </a>
                <a href="#projects">
                    <div class="navbtn" id="project">Projects</div>
                </a>
                <a href="#emp">
                    <div class="navbtn" id="psa">Aptitude Assessment</div>
                </a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="content">
                <div class="dat" id="aoi">
                    <span class="heading" id="headaoi">Area of Interest</span>
                    <hr>
                    <p class="conte" id="aoic">
                        Seeking work to give an outlet to the already learnt technologies and acquired
                        development
                        skills, learning new technologies as needed by the problems encountered while working on
                        any job, have worked with IoT using arduino and tend to learn more tehnologies, willing
                        to
                        work with user interfae development.
                    </p>
                </div>
                <div class="dat" id="education">
                    <span class="heading" id="headedu">Eduational Qualifications</span>
                    <hr>
                    <table class="conte" id="educ">
                        <tr>
                            <th>Course</th>
                            <th>Institution</th>
                            <th>Board</th>
                            <th>Percentage of marks scored</th>
                            <th>Year of passing</th>
                        </tr>
                        <tr>
                            <td>12<sup>th</sup></td>
                            <td>DAV Centenary Public School</td>
                            <td>C.B.S.E.</td>
                            <td>68.2%</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>10<sup>th</sup></td>
                            <td>DAV Centenary Public School</td>
                            <td>C.B.S.E.</td>
                            <td>76%</td>
                            <td>2014</td>
                        </tr>
                    </table>
                </div>
                <div class="dat" id="tecq">
                    <span class="heading" id="headtq">Technical Qualification</span>
                    <hr>
                    <p class="conte" id="tqc">
                        PURSUING <span class="subh">BACHELOR OF ENGINEERING</span> IN <span class="subh">COMPUTER
                            SCIENCE
                            AND ENGINEERING</span> FROM <span class="subh">CHITKARA UNIVERSITY</span>.
                        <br>
                        <span class="subh">CLOMPLETETION:</span> JUNE 2020
                        <br>
                        <span class="subh">CURRENT STATUS:</span>
                        <br>
                        <ul class="conte">
                            <li><span class="subh">ACADEMIC YEAR</span>: 3RD</li>
                            <li><span class="subh">CGPA:</span> 7.78</li>
                        </ul>

                    </p>
                </div>
                <div class="dat" id="skills">
                    <span class="heading" id="headskill">Skills</span>
                    <hr>
                    <p class="conte" id="skillc">
                        <span class="subh">PROGRAMMING LANGUAGES USED:</span> <code>C</code> <code>C++</code>
                        <code>Java(Beginner)</code>.
                        <br>
                        <span class="subh">DATABASE MANAGEMENT:</span> <code>SQL</code> <code>MongoDB</code>.
                        <br>
                        <span class="subh">WEB DEVELOPMENT:</span> <code>HTML <i class="fa fa-html5"></i></code>
                        <code>CSS <i class="fa fa-css3"></i></code> <code>JavaScript</code> <code>Node JS</code> <code>Express JS(Node JS
                        Framework)</code> <code>Bootstrap 3(HTML, CSS, JS Framework)</code> <code>React JS</code>
                        <code>Embedded JS</code>.
                        <br>
                        <span class="subh">PREFERED WORKING ENVIRONMENT:</span>
                        <code>Linux(UBUNTU) <i class="fa fa-linux"></i></code>
                        <code>Windows <i class="fa fa-windows"></i></code>.
                        <br>
                        <span class="subh">ELECTRONICS:</span> <code>IoT with Arduino(Beginner)</code> <code>Radio Technologies-
                        <code>FM</code>, <code>AM</code></code>
                    </p>
                </div>
                <div class="dat" id="projects">
                    <span class="heading" id="headpro">Projects</span>
                    <hr>
                    <p class="conte" id="proc">
                        <dl class="conte">
                            <dt><span class="subh">RESUME BUILDER</span> (CURRENTLY UNDER DEVELOPMENT)</dt>
                            <dd>
                                <span class="subh">TECHNOLOGIES USED:</span> <code>Node JS</code> <code>MongoDB</code>
                                <code>HTML</code> <code>CSS</code>.
                                <br>
                                <span class="subh">GITHUB REPOSITORY:</span>
                                https://github.com/AARSTAR65/resume_builder
                                <br>
                                <span class="subh">DESCRIPTION</span>: A WEB APP THAT ENABLES USERS TO EASILY
                                CREATE RESUME
                                BY ENTERING THEIR PERSONAL
                                INFORMATION IN JUST ONE CLICK.
                            </dd>
                            <dt><span class="subh">IOT AND GPS BASED TRACKING SYSTEM</span> (PRESENTED AT
                                NOVATE, HOSTED BY
                                CHITKARA UNIVERSITY)</dt>
                            <dd>
                                <span class="subh">TECHNOLOGIES USED:</span> <code>Arduino UNO R3</code>
                                <code>GPS UBLOX NEO 6M</code> <code>GSM
                                SIM 800L.</code>
                                <br>
                                <span class="subh">DESCRIPTION:</span> THE PROJECT WAS A SIMPLE TRACKING DEVICE
                                THAT ENABLED
                                THE USER TO CALL FOR HELP
                                IN
                                CASE OF ANY EMERGENCY, ALONG WITH THIS, AN IDEA OF IOT BASED SOCIETY MONITORING
                                SYSTEM WAS
                                PROPOSED WHERE POLICE CAN USE FLYING CAMERA DRONES TO MONITOR AND COVER ANY
                                ANTISOCIAL
                                ACTIVITIES TAKING PLACE IN THE AREA.
                            </dd>
                            <dt><span class="subh">IOT BASED LOW COST HYDROPONIC FARMING UTILITY</span>
                                (PRESENTED AT 3RD
                                HIMACHAL SCIENCE CONGRESS HOSTED BY HIMCOSTE)</dt>
                            <dd>
                                <span class="subh">TECHNOLOGIES USED:</span> <code>Arduino</code> AND OTHER ELECTRONIC
                                UTILITY MODULES
                                <br>
                                <span class="subh">DESCRIPTION:</span> THE SYSTEM PROPOSED WITH A PROTOTYPE IS A
                                SIMPLE IOT
                                BASED FARM MONITORING
                                UTILITY .
                            </dd>
                            <dt><span class="subh">TETRIS GAME</span> (CLASS ASSIGNMENT)</dt>
                            <dd>
                                <span class="subh">TECHNOLOGIES USED:</span> <code>Programming Language C</code>
                                <br>
                                <span class="subh">DESCRIPTION:</span> A COMMAND LINE INTERFACE BASED TYPICAL
                                TETRIS GAME.
                            </dd>
                        </dl>
                    </p>
                </div>
                <div class="dat" id="emp">
                    <span class="heading" id="heademp">Aptitude and Employment Assessment</span>
                    <hr>
                    <table class="conte" id="psac">
                        <tr>
                            <th style="width: 400px;">Exam</th>
                            <th style="width: 400px;">Percentile</th>
                        </tr>
                        <tr>
                            <td>AMCAT</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>eLitmus</td>
                            <td>89.88</td>
                        </tr>
                        <tr>
                            <td>eLitmus</td>
                            <td>77.39</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>